---
import RootLayout from '@/layouts/RootLayout/RootLayout.astro';
import BioPicture from './BioPicture.astro';
import SayHi from './SayHi.astro';
import SocialLinks from './SocialLinks.astro';
import Technologies from './Technologies.astro';
import Experience from './experience/Experience.astro';

import {
  container,
  containerGridTwoColumns,
  leading,
  sectionAccentBg,
  sectionHeading,
  sectionSpacingX,
} from '@/styles';
import Conferences from './Conferences.astro';

interface Props {
  title: string;
  intro: {
    title: string;
    subtitle: string;
  };
}

const { title, intro } = Astro.props;
---

<RootLayout title={title}>
  <div
    class={sectionAccentBg({
      borderTop: false,
    })}
  >
    <section
      class={container({
        class: 'flex flex-col gap-x-8 lg:flex-row lg:items-end lg:justify-between',
      })}
    >
      <div class="~py-12/20 lg:max-w-screen-md">
        <div class="font-semibold tracking-tight text-slate-800 ~text-3xl/4xl dark:text-slate-100">
          <SayHi />
          <h1 class="inline">{intro.title}</h1>
        </div>
        <h2 class="mt-2 font-light text-slate-500 ~text-2xl/3xl dark:text-slate-300">
          {intro.subtitle}
        </h2>
        <div class="text-pretty ~text-base/lg ~mt-5/6 ~space-y-3/4">
          <slot name="intro-description" />
        </div>
        <div class="print-hidden flex justify-center ~mt-8/10 lg:justify-start">
          <SocialLinks />
        </div>
      </div>
      <div class="print-hidden relative flex flex-1 justify-center lg:items-end">
        <BioPicture />
      </div>
    </section>
  </div>
  <section
    class={containerGridTwoColumns({
      class: 'gap-y-4 ~pt-12/24',
    })}
  >
    <h2
      class={sectionHeading({
        class: 'lg:col-span-2',
      })}
    >
      Tecnologías
    </h2>
    <p class={leading()}>
      Soy un apasionado de la <strong>programación funcional y reactiva</strong>, del <strong
        >testing</strong
      > y de los <strong>sistemas de diseño</strong>. Me preocupo por mantener actualizados mis
      conocimientos y por aplicar las mejores prácticas.
    </p>
    <p class={leading()}>
      Aunque suelo trabajar con tecnologías <strong>frontend</strong>, me considero un profesional
      versátil, lo que me permite tener una <strong>visión completa del ciclo de desarrollo</strong
      >.
    </p>
    <Technologies />
  </section>
  <section
    class={sectionAccentBg({
      class: '~mt-12/24 ~py-12/20 ',
    })}
  >
    <div
      class={container({
        class: 'space-y-4',
      })}
    >
      <h2 class={sectionHeading()}>Conferencias</h2>
      <p class={leading()}>
        Una de mis pasiones es compartir conocimiento y experiencias con la comunidad.<br />Creo que
        aprender y enseñar a los demás es una de las mejores formas de crecer.
      </p>
      <p class={leading()}>
        Es por esto que participo activamente en eventos, y publico artículos como invitado en
        algunos medios.
      </p>
      <div class="grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] ~gap-4/6 ~pt-2/4">
        <Conferences />
      </div>
    </div>
  </section>
  <section
    class={container({
      class: '~pt-12/24',
    })}
  >
    <h2 class={sectionHeading()}>Experiencia</h2>
    <Experience />
  </section>
</RootLayout>
