---
import { Sprite } from 'astro-icon';

import { beautifyDate } from '@/pods/posts/beautifyDate';
import type { PostItem } from '@/pods/posts/types';

type Props = PostItem;

const { title, subTitle, href, date } = Astro.props;
---

<article>
  <header>
    <h2 class="text-2xl font-semibold">
      <a
        class="text-cinder-800 @hover:text-indigo-800 d:text-cinder-100 d:@hover:text-orange-100 transition-colors"
        href={href}>{title}</a
      >
    </h2>
    <time
      class="text-cinder-500/80 d:text-cinder-300 font-medium transition-colors text-sm"
      datetime={date.toISOString()}>{beautifyDate(date)}</time
    >
  </header>
  <p class="mt-3" set:html={subTitle} />
  <footer class="mt-5 text-sm">
    <a
      class="font-semibold text-indigo-600 @hover:text-indigo-800 d:text-orange-200/90 d:@hover:text-orange-100 transition-colors group/link"
      href={href}
      aria-label={`Leer más sobre '${title}''`}
      >Leer más<Sprite
        class="w-6 aspect-square inline-block transition-transform group-hover/link:translate-x-0.5"
        name="ri:arrow-right-double-line"
      /></a
    >
  </footer>
</article>
