---
import { Sprite } from 'astro-icon';

import { beautifyDate } from '@/pods/posts/beautifyDate';
import type { PostItem } from '@/pods/posts/types';

type Props = PostItem;

const { title, subTitle, href, date } = Astro.props;
---

<article>
  <h2 class="text-2xl font-semibold">
    <a
      class="text-cinder-800 @hover:text-indigo-600 d:text-cinder-100 d:@hover:text-indigo-300 transition-colors inline-block text-pretty"
      href={href}>{title}</a
    >
  </h2>
  <p class="mt-2 leading-relaxed baseline text-pretty" set:html={subTitle} />
  <footer class="mt-4 flex gap-3 items-center">
    <time
      class="text-cinder-500 d:text-cinder-400 font-medium text-sm block"
      datetime={date.toISOString()}>{beautifyDate(date)}</time
    >
    <Sprite
      name="ri:circle-fill"
      class="w-2 h-2 text-cinder-200 d:text-cinder-700"
      aria-hidden
    />
    <a
      class="group/link block font-semibold text-indigo-600 @hover:text-indigo-600/90 d:text-indigo-400 d:@hover:text-indigo-300 transition-colors py-2 text-pretty"
      href={href}
      aria-description={`Leer más sobre '${title}''`}
      >Seguir leyendo<Sprite
        name="ri:arrow-right-line"
        class="w-5 h-5 ml-1 inline-flex transition-transform group-hover/link:translate-x-0.5"
        aria-hidden
      /></a
    >
  </footer>
</article>
